<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</head>
<script src="../../public/script.js"></script>

<h1><?php echo $title; ?> <span id="id" value=<?php echo $id ?>></span></h1>

<form id='sportsEditForm'>
  <div class="form-group">
    <label for="name">Name</label>
    <input name="name" type="text" class="form-control" id="name" value="<?php echo $sport[name]; ?>">
  </div>
  <div class="form-group">
    <label for="teamsport">Teamsport</label>
    <select name="teamsport" class="form-control" id="teamsport">
      <option value=1>True</option>
      <option value=0>False</option>
    </select>
  </div>
  <div class="form-group">
    <label for="best_player">Best Player</label>
    <input name="best_player" type="text" class="form-control" id="best_player" value="<?php echo $sport[best_player]; ?>"">
  </div>
  <div class="form-group">
    <label for="esport">eSport</label>
    <select name="esport" class="form-control" id="esport">
      <option value=1>True</option>
      <option value=0>False</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
